---
---

@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');

$font-family: 'Playfair Display', serif;

.body {
  font-size: 14px;
  background-color: #002B36;
}

.page-lead {
  padding: 1rem;
  margin: 0;
  font-family: $font-family;
}

.name {
  padding: 0;
  margin: 0;
  font-size: 2.5rem;
}

.content {
  font-family: $font-family;
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  padding-bottom: 5px;
}

a {
  $color: #33c3f0;
  
  color: $color;
  font-family: $font-family;
  text-decoration: none;
    
  &:hover {
    text-decoration: underline;
  }
  
  &:visited {
    color: $color;
  }
}
