---
---

@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');

.body {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
}

.page-lead {
  padding: 2.5rem;
  margin: 0;
}

.name {
  font-size: 2rem;
}

.content {
  padding: 2.5rem;
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
}

.footer-link {
  text-decoration: none;
    
  &:hover {
    text-decoration: underline;
  }
}
