<footer class="uk-background-secondary uk-padding uk-light uk-panel uk-margin-top uk-flex uk-flex-bottom">
    <div class="uk-container">
        <ul class="uk-navbar-nav uk-flex-center">
            <li><a href="/donate" class="uk-text-bold uk-text-uppercase">Donate</a></li>
            <li><a href="https://github.com/OrdinaryJellyfish" class="uk-text-bold uk-text-uppercase">GitHub</a></li>
            <li><a href="https://github.com/{{ site.twitter.username }}" class="uk-text-bold uk-text-uppercase">Twitter</a></li>
            <li><a href="mailto:tristian@thejellyfish.codes" class="uk-text-bold uk-text-uppercase">Email me</a></li>
        </ul>
    </div>
</footer>

<script src="/js/uikit/uikit.min.js"></script>
<script src="/js/uikit/uikit-icons.min.js"></script>
