<footer class="uk-background-secondary uk-padding uk-light uk-panel uk-margin-top uk-flex uk-flex-bottom">
    <div class="uk-container">
        <ul class="uk-navbar-nav uk-flex-center">
            <li><a href="/donate" class="uk-text-bold uk-text-uppercase">Donate</a></li>
        </ul>
        <ul class="uk-iconnav uk-flex-center">
            <li><a href="https://github.com/OrdinaryJellyfish" uk-icon="github"></a></li>
            <li><a href="https://twitter.com/{{ site.twitter.username }}" uk-icon="twitter"></a></li>
            <li><a href="mailto:tristian@thejellyfish.codes" uk-icon="mail"></a></li>
        </ul>
    </div>
</footer>

<script src="/js/uikit/uikit.min.js"></script>
<script src="/js/uikit/uikit-icons.min.js"></script>
