<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | OrdinaryJellyfish</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://github.com/ordinaryjellyfish.png">
  </head>
  <body>
    <section class="page-lead">
      <h1 class="name">Tristian Kelly</h1>
    </section>
    <section class="content">
      {{ content }}
    </section>
    <section class="footer">
      <a href="/donate">Donate</a> 
      &bull; 
      <a href="https://github.com/OrdinaryJellyfish">GitHub</a> 
      &bull; 
      <a href="mailto:tristian@thejellyfish.codes">Email me</a>
    </section>
  </body>
</html>
